@import '../styles/theme';

:host {
  display: block;
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  border-left: solid 1px mat-color($nga-foreground, divider);
  padding: 24px;
  width: 200px;
}

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-is-mobile .app-toolbar {
  background-color: mat-color($nga-background, card);
  box-shadow: 0 1px mat-color($nga-foreground, divider);
  position: fixed;
  z-index: 2;
}

.app-sidenav-container {
  flex: 1;
}

.app-is-mobile .app-sidenav-container {
  flex: 1 0 auto;
}

.toolbar__logo {
  height: 32px;
  margin-right: 16px;
}

.toolbar__title {
  color: mat-color($nga-foreground, text);
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.toolbar__icon-button {
  color: mat-color($nga-foreground, icon);
}

.toolbar__profile-button {
  margin-right: 8px;
}




